{% extends 'base_account.html' %}
{% load widget_tweaks %}

{% block active_login %}active{% endblock %}

{% block title %}Email_Confirm{% endblock title %}



{% block account_body %}
<div class="col-md-6 bg-white pt-5 pt-5 pb-lg-0 pb-5">
    <div class="sign-in-from">
        <h1 class="mb-0">Register</h1>

        {% if confirmation %}
        <p>Click the button to create your account</p>                 
        <form class="mt-4" method="post" action="{% url 'account_confirm_email' confirmation.key %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Register</button>

        </form>
        {% else %}
          {% url 'account_email' as email_url %}
          <p>Link has expired</p>
          <a href="{{ email_url }}">Reapply</a>
        {% endif %}
    </div>
</div>
{% endblock %}