{% extends 'base_account.html' %}
{% load widget_tweaks %}

{% block title %}Password_Reset{% endblock title %}


{% block account_body %}
<div class="col-md-6 bg-white pt-5 pt-5 pb-lg-0 pb-5">
    <div class="sign-in-from">
        <h1 class="mb-0">{% if token_fail %}不正トークン{% else %}Password Reset{% endif %}</h1>

        {% if token_fail %}
          {% url 'account_reset_password' as password_reset_url %}
          <p>This link is disabled</p>
          <a href="{{ password_reset_url }}">Reapply</a>
        {% else %}
          {% if form %}
          <form class="mt-4" method="post" action="{{ action_url }}">
              {% csrf_token %}
              {% for field in form %}
                <div class="form-group">
                    <label class="form-label" for="{{ field.id_for_label }}">
                      {{ field.label_tag }}
                    </label>
                    {{ field | add_class:"form-control mb-0"}}
                </div>
              {% endfor %}
              <button type="submit" class="btn btn-primary">Save</button>
            </form>
          {% else %}
          <p>Password is already changed</p>
          {% endif %}
       {% endif %}  
    </div>
</div>
{% endblock account_body %}